/*sección carrusel*/

.carousel-item{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/*sección presentación*/

#presentacion{
    background-color: #000;
}

#presentacion hr{
    height: 1px;
    background-color: #00b4d8;
}

.contenedor-icon{
    width: 100%;
    background-color: #00b4d8;
}

